body {
  font-family: "Manrope", sans-serif;
}

.hero-banner {
  min-height: 480px;
  place-items: start center;
}

.hero-banner h1 {
  font-family: "Berkshire Swash", cursive;
}

button[disabled] {
  color: white !important;
}

input::placeholder {
  font-size: 12px;
}
